-# %h2 Sign up
-# = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
-#   = render "devise/shared/error_messages", resource: resource
-#   .field
-#     = f.label :email
-#     %br/
-#     = f.email_field :email, autofocus: true, autocomplete: "email"
-#   .field
-#     = f.label :password
-#     - if @minimum_password_length
-#       %em
-#         (#{@minimum_password_length} characters minimum)
-#     %br/
-#     = f.password_field :password, autocomplete: "new-password"
-#   .field
-#     = f.label :password_confirmation
-#     %br/
-#     = f.password_field :password_confirmation, autocomplete: "new-password"
-#   .actions
-#     = f.submit "Sign up"
-# = render "devise/shared/links"

.z
  //=render 'header-login'
  .main
    .main-box
      
      .main-box-block
      
        .main-top-text
          新規会員登録
        .main-bottom
          .main-bottom-box
            %ul.main-bottom-box__textBox-mail
              = link_to signup2_users_path, class:'link-mail' do
                =fa_icon 'envelope'
                %li.text
                  メールアドレスで登録する
            %ul.main-bottom-box__textBox-facebook
              = link_to 'https://www.facebook.com/login.php?skip_api_login=1&api_key=466308336793848&kid_directed_site=0&app_id=466308336793848&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fv2.5%2Fdialog%2Foauth%3Fapp_id%3D466308336793848%26channel_url%3Dhttps%253A%252F%252Fstaticxx.facebook.com%252Fconnect%252Fxd_arbiter.php%253Fversion%253D44%2523cb%253Df10a523d2d9dcb%2526domain%253Dwww.mercari.com%2526origin%253Dhttps%25253A%25252F%25252Fwww.mercari.com%25252Ff5b71068fad068%2526relation%253Dopener%26client_id%3D466308336793848%26display%3Dpopup%26domain%3Dwww.mercari.com%26e2e%3D%257B%257D%26fallback_redirect_uri%3Dhttps%253A%252F%252Fwww.mercari.com%252Fjp%252Fsignup%252F%26locale%3Den_US%26origin%3D1%26redirect_uri%3Dhttps%253A%252F%252Fstaticxx.facebook.com%252Fconnect%252Fxd_arbiter.php%253Fversion%253D44%2523cb%253Df134e5a8c0698d4%2526domain%253Dwww.mercari.com%2526origin%253Dhttps%25253A%25252F%25252Fwww.mercari.com%25252Ff5b71068fad068%2526relation%253Dopener%2526frame%253Df2a878be7a2d70c%26response_type%3Dtoken%252Csigned_request%26scope%3Dpublic_profile%252Cemail%252Cuser_friends%26sdk%3Djoey%26version%3Dv2.5%26ret%3Dlogin%26fbapp_pres%3D0%26logger_id%3D86986f05-af39-47a8-a43b-89e2c6d2b1dc&cancel_url=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df134e5a8c0698d4%26domain%3Dwww.mercari.com%26origin%3Dhttps%253A%252F%252Fwww.mercari.com%252Ff5b71068fad068%26relation%3Dopener%26frame%3Df2a878be7a2d70c%26error%3Daccess_denied%26error_code%3D200%26error_description%3DPermissions%2Berror%26error_reason%3Duser_denied&display=popup&locale=en_US', class:'link-fb' do
                =fa_icon 'facebook-square'
                %li.text
                  Facebookで登録する
            %ul.main-bottom-box__textBox-google
              = link_to 'https://accounts.google.com/signin/oauth/oauthchooseaccount?client_id=238694260676-l0gp5j3hs9p8l2hjmnt126q0b4iin34r.apps.googleusercontent.com&as=Mr9DXJJzs11fRn6hRPYKfw&destination=https%3A%2F%2Fwww.mercari.com&approval_state=!ChRoWFYzOV9XREVvQjdFcWVZalVRShIfdzJHdUNLempXa2tXNEJxcmlYbTVkb215elVQYTZCWQ∙AJDr988AAAAAXdfBLeeD0Ov3cOYX5KKhVGbpOzlqi-Ur&oauthgdpr=1&xsrfsig=ChkAeAh8Ty3MVHPBR5fkd_oGnTc6fCpH9QspEg5hcHByb3ZhbF9zdGF0ZRILZGVzdGluYXRpb24SBXNvYWN1Eg9vYXV0aHJpc2t5c2NvcGU&flowName=GeneralOAuthFlow' do
                =fa_icon 'google'
                %li.text
                  Googleで登録する
  //=render 'footer-login'