= render "layouts/header"

.logout-main
  .both-content-log
    .logout-body
      %form.logout-btn
        =link_to "ログアウト", destroy_user_session_path, method: :delete, class: "text-logout"

    = render "layouts/side-barMypage"
= render "layouts/footer"
= render "devise/shared/red-btn"