= render "layouts/header"

.wrapper
  .content.clearfix
    %form
      =link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-btn" 

    = render "layouts/side-barMypage"

  = render "layouts/footer"