.body
  .main
    .slide
    .nav
      .Category
        人気のカテゴリー
      %ul.Categorys
        %li
          =link_to "レディース", class: "Categorys__list--item"
        %li
          =link_to "メンズ", class: "Categorys__list--item"
        %li
          =link_to "家電・スマホ・カメラ", class: "Categorys__list--item"
        %li
          =link_to "おもちゃ・ホビー・グッズ", class: "Categorys__list--item"
    .main-content
      .main-contents
        .main-contents__top
          .main-contents__header--name
            レディース新着アイテム
          =link_to "もっと見る ＞", class: "main-contents__header--more"
        .main-contents__goods
          %ul
            %li
              .main-contents-box
                %a.contents-item{href: "#"}
                  .contents-item__image
                    .contents-item__image--price
                      %span ¥1,000
                  .contents-item__index
                    .contents-item__index--name 
                      %span 粉雪舞う季節はいつもすれ違い人混みに紛れても同じ空見てるのに。風に吹かれて似たように凍えるのに。些細な言い合いもなくてララライララライ
            %li
              .main-contents-box
                %a.contents-item{href: "#"}
                  .contents-item__image
                    .contents-item__image--price
                      %span ¥1,000
                  .contents-item__index
                    .contents-item__index--name 
                      %span テスト
            %li
              .main-contents-box
                %a.contents-item{href: "#"}
                  .contents-item__image
                    .contents-item__image--price
                      %span ¥1,000
                  .contents-item__index
                    .contents-item__index--name 
                      %span テスト
            %li
              .main-contents-box
                %a.contents-item{href: "#"}
                  .contents-item__image
                    .contents-item__image--price
                      %span ¥1,000
                  .contents-item__index
                    .contents-item__index--name 
                      %span テスト
            %li
              .main-contents-box
                %a.contents-item{href: "#"}
                  .contents-item__image
                    .contents-item__image--price
                      %span ¥1,000
                  .contents-item__index
                    .contents-item__index--name 
                      %span テスト
        .main-contents__header
          .main-contents__header--name
            メンズ新着アイテム
          =link_to "もっと見る ＞", class: "main-contents__header--more"
        .main-contents__goods
          %ul
            %li
              .main-contents-box
                %a.contents-item{href: "#"}
                  .contents-item__image
                    .contents-item__image--price
                      %span ¥1,000
                  .contents-item__index
                    .contents-item__index--name 
                      %span テスト
        .main-contents__header
          .main-contents__header--name
            家電・スマホ・カメラ新着アイテム
          =link_to "もっと見る ＞", class: "main-contents__header--more"
        .main-contents__goods
          %ul
            %li
              .main-contents-box
                %a.contents-item{href: "#"}
                  .contents-item__image
                    .contents-item__image--price
                      %span ¥1,000
                  .contents-item__index
                    .contents-item__index--name 
                      %span テスト
        .main-contents__header
          .main-contents__header--name
            おもちゃ・ホビー・グッズ新着アイテム
          =link_to "もっと見る ＞", class: "main-contents__header--more"
        .main-contents__goods
          %ul
            %li
              .main-contents-box
                %a.contents-item{href: "#"}
                  .contents-item__image
                    .contents-item__image--price
                      %span ¥1,000
                  .contents-item__index
                    .contents-item__index--name 
                      %span テスト
    .fixer
      = link_to "/jp/sell/", class: "gyazo-fix"
        .photo
          .photo-text 出品
          %svg.osamu{"aria-hidden":"true", height: "16", viewbox: "0 0 18 16", width: "18"}
            %path{d: "M6.3 0L4.653 1.778H1.8c-.99 0-1.8.8-1.8 1.778v10.666C0 15.2.81 16 1.8 16h14.4c.99 0 1.8-.8 1.8-1.778V3.556c0-.978-.81-1.778-1.8-1.778h-2.853L11.7 0H6.3zM9 13.333c-2.484 0-4.5-1.99-4.5-4.444 0-2.453 2.016-4.445 4.5-4.445s4.5 1.992 4.5 4.445c0 2.453-2.016 4.444-4.5 4.444zm0-1.6c1.59 0 2.88-1.273 2.88-2.844S10.59 6.044 9 6.044c-1.59 0-2.88 1.274-2.88 2.845 0 1.57 1.29 2.844 2.88 2.844z", fill: "currentColor", "fill-rule":"nonzero"}
            




