.container
  .header 
    = link_to "◆ mercari", "https://www.mercari.com/jp/", class: "mercari-logo"
    -# adding main content
  .main 
    .info-container
  .footer 
    .links
      %ul
        %li.outer-links
          = link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
        %li.outer-links
          = link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
        %li.outer-links
          = link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
    -# link_to top page
    .bottom-footer__logo
      %a{href: "https://www.mercari.com/jp/", target: "_blank"}
        %img{alt: "", height: "40", src: "/fmarket_logo_white", class: "mercari"}/
    %p.copyright © 2019 Mercari