.body{
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
  overflow: scroll;
  .header{
    height: 130px;
    .header-logo{
      margin: 0 auto;
      width:182px;
      position: relative;
      top:40px;
      cursor: pointer;
    }
    .header-logo:hover{
      opacity: 0.7;
    }
  }
  .main{
    background-color: white;
    height: 380px;
    width:100%;
    position: relative;
    
  }
  .footer{
    margin:0 auto;
    width:456px;
    height: calc(100vh - 510px);
    
    
    bottom: 0;
    font-size:12px;
      .footer-text{
        margin:0 auto;
        position: relative;
        left: 17px;
        padding:80px 10px 25px;
        
        &__box{
          display: block;
          display: flex;
          position: relative;
          margin:0 auto;
          text-align: center;
        
          &--left{
            margin:15px 10px;
          }
          &--left:hover{
            color: #aaaaaa;
            border-bottom:solid 1px #aaaaaa;
          }
          &--center{
            margin:15px 10px;
            cursor: pointer;
          }
          &--center:hover{
            color: #aaaaaa;
            border-bottom:solid 1px #aaaaaa;
          }
          &--right{
            margin:15px 10px;
            cursor: pointer;
          }
          &--right:hover{
            color: #aaaaaa;
            border-bottom:solid 1px #aaaaaa;
          }
          .text{
            cursor: pointer;
            }
        }
      }
    
    .logo-box{
      
      .footer-logo{
        margin: 0 auto;
        max-width: 50%;
        width: 80px;
        cursor: pointer;
        position: relative;
      }
      .footer-logo:hover{
        opacity: 0.7;
      }
    }
    .logo-content{
      text-align: center;
      margin: 0 auto;
    }
  }
}