.main {
  margin: 40px;
  width: 700px;
  float: right;
  .user {
    padding: 20px;
    height: 200px;
    text-align: center;
    background-size: cover;
    font-size: 14px;
    &__icon {
      width: 60px;
      height: 60px;
    }
    &__records {
      margin-top: 8px;
    }
  }
  .info {
    background-color: #fff;
    &__tabs {
      background-color: #eee;
      display: flex;
      width: 100%;
      li {
        text-align: center;
        width: 50%;
        height: 74px;
        line-height: 74px;
      }
      li:first-child {
        background-color: #fff;
        border-top: 2px solid #ea352d;
      }
      a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
      }
      a:hover {
        color: #888;
      }
    }
  }
  .message {
    .messages {
      //display: block;
      li {
        position: relative;
        border-bottom: 1px solid #eee;
        padding: 16px;
      li:hover {
        background-color: #fafafa;
      }
        a {
          min-height: 80px;
          color: #333;
          text-decoration: none;
          .form {
            margin: 0 40px 0 68px;
            &__text {
              text-decoration: none;
              color: #333;
            }
            &__time {
              display: inline-block;
              color: #888;
            }
          }
          .chevron {
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translate(0, -50%);
          }
        }
      }
    }
    .all {
      margin: 16px;
      background-color: #eee;
      text-align: center;
      font-size: 14px;
    }
    .all:hover{
      background-color: #fafafa;
    }
  }
  .product {
    margin: 40px 0 0;
    background-color: #fff;
    &__header {
      padding: 0 16px;
      background-color: #fafafa;
      font-size: 16px;
      line-height: 72px;
    }
    &__tabs {
      background-color: #eee;
      display: flex;
      width: 100%;
      li {
        text-align: center;
        width: 50%;
        height: 74px;
        line-height: 74px;
      }
      li:first-child {
        background-color: #fff;
        border-top: 2px solid #ea352d;
      }
      a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
      }
      a:hover {
        color: #888;
      }
    }
    &__messages {
      .trades {
        li {
          color: #ccc;
          font-size: 16px;
          text-align: center;
          padding: 160px 0 60px;
          background-image: url("/logo_gray.svg");
          background-repeat: no-repeat;
          background-position: center 40px;
          background-size: 78px 85px;
        }
      }
    }
  }
}
.figure {
  background-color: #eee;
  width: 48px;
  height: 48px;
  float: left;
  overflow: hidden;
  .box{
    width: 70%;
    margin-top: 5px;
    margin-left: 6px;
  }
}