.main
  %section.user
    %a{ href: "#" }
    %img.user__icon{ href: "#", src: "assets/106_h_24.png" }
      %h2 SRB
    .user__records
      %span 評価 0 出品数 0

  .info
    %ul.info__tabs
      %li
        %h3
          %a{ href: "#" }
            お知らせ
      %li
        %h3
          %a{ href: "#" }
            やることリスト
    .message
      %ul.messages
        %li
          %a{ href: "#" }
            .figure
              %img.box{ src: "assets/logo_red.svg" }
            .form
              .form__text
                <お買い物応援!> ¥1,000の商品を実質1円でご購入いただけます！
              .form__time
                %i.fa.fa-clock-o 22時間前
            .chevron
              %i.fa.fa-chevron-right
        %li
          %a{ href: "#" }
            .figure
              %img.box{ src: "assets/logo_red.svg" }
            .form
              .form__text
                <お買い物応援!> ¥1,000の商品を実質1円でご購入いただけます！
              .form__time
                %i.fa.fa-clock-o 22時間前
            .chevron
              %i.fa.fa-chevron-right
        %li.all
          %a{ href: "#" }
            一覧を見る

  .product
    .product__header
      %h2 購入した商品
    %ul.product__tabs
      %li
        %h3
          %a{ href: "#" }
            取引中
      %li
        %h3
          %a{ href: "#" }
            過去の取引
    .product__messages
      %ul.trades
        %li
          取引中の商品がありません