.content {
  margin: 40px auto 0;
  display:inline-block;
  .logout {
    float: right;
    width: calc(700px - 128px);
    padding: 64px;
    background-color: #fff;
    text-align: center;
    .logout-btn {
      height: 50px;
      width: 320px;
      background-color: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width:1060px){
.content{
  padding-left: 40px;
  .logout{
    float: left;
    width: calc(700px - 128px);
  }
  .body{
    padding: 40px 0  0;
    .side-bar-box{
      width: 700px;
    }
  }
}
}