.body
  
  .footer
    .text-box
      .text-zone
        .footer-text
          %ul.footer-text__box
            %li.footer-text__box--left
              .text
                プライバシーポリシー
            %li.footer-text__box--center
              .text
              メルカリ利用規約
            %li.footer-text__box--right
              .text
              特定商取引に関する表記
        .logo-box
          .footer-logo
            =image_tag 'logo_gray.svg'
        .logo-content
          © 2019 Mercari